* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--var-jost), Arial, Helvetica, sans-serif;

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  overflow-x: hidden;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  display: block;
  width: fit-content;
  height: fit-content;
  list-style: none;
}

a {
  width: fit-content;
  height: fit-content;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

section {
  padding: 35px 0;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_title {
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 30px;

  span {
    font-weight: 500;
  }
}

.subtitle {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 5px;
  line-height: 30px;
}

.description {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 10px;
  line-height: 30px;
}

.card_grid {
  display: grid;
  grid-template-columns: 340px;
  grid-gap: 20px;
  width: min-content;
  margin: 0 auto;
}

@media (min-width: 730px) {
  .card_grid {
    grid-template-columns: repeat(2, 340px);
  }
}

@media (min-width: 1090px) {
  .card_grid {
    grid-template-columns: repeat(3, 340px);
  }
}

@media (min-width: 1450px) {
  .section_title {
    font-size: 50px;
    text-align: left;
    margin: 0 0 75px;
    line-height: 55px;
  }

  .subtitle {
    font-size: 35px;
    text-align: center;
    margin: 0 0 15px;
    line-height: 40px;
  }

  .description {
    font-size: 28px;
    text-align: center;
    margin: 0 0 20px;
    line-height: 33px;
  }

  .card_grid {
    grid-template-columns: repeat(4, 340px);
  }
}
