:root {
  --title-color: #014c69;
  --text-color: #2d2d2d;
  --primary-color: #25d366;
  --primary-color-hover: #39e77a;
  --accent-color: #75c9ea;
  --accent-color-hover: #89ddf4;
  --secondary-color: #e8710c;
  --secondary-color-hover: #f28520;
}
