.steps {
  &_grid {
    display: grid;
    grid-template-columns: 340px;
    margin: 0 auto;
    width: min-content;
    grid-gap: 20px;
  }
}

@media (min-width: 1090px) {
  .steps {
    &_grid {
      grid-template-columns: repeat(3, 340px);
    }
  }
}
